.main--header {
  padding: 0 $pad;

  .truncate {
    @include text-truncate();
    width: 300px; // magic number
    vertical-align: text-bottom;
  }

  &__user {
    @media(max-width: 700px) {
      width: 100%;
      @include text-truncate();
    }
  }

  .custom-checkbox {
    display: none;

    @media(min-width: 700px) {
      display: inline-block;
    }

    @media(min-width: 860px) {
      margin-left: $space;
    }
  }
}
