.apps {

  .app:first-child {
    margin-top: 0;
  }

  &.grid--layout {

    @media(min-width: 700px) {
      .app {
        float: left;
        width: calc(50% - #{$space + $space-half});
        margin: 0 0 $space $space;

        &:nth-child(even) {
          margin-right: $space;
        }

        &:nth-child(odd) {
          clear: both;
        }
      }
    }
  }
}

.app {
  .apdex {
    @include font--primary($size: 13px, $line: 1.5);
    float: left;
    margin: 0 $space-quarter $space-half 0;
    width: 30px;
  }
}
