//--------------------------------------------------------------------------
// #CUSTOM-CHECKBOX
//--------------------------------------------------------------------------

.custom-checkbox {
  cursor: pointer;

  > input {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  input {

    + span {
      $size: 16px;

      min-height: $size;
      padding-left: $size + 7px;
      position: relative;
      user-select: none;

      &::before {
        transition: all 218ms cubic-bezier(0.4, 0.0, 0.2, 1);
        background-color: $mist;
        border: 1px solid darken($mist, 35%);
        color: white;
        content: ' ';
        border-radius: 3px;
        cursor: pointer;
        font: normal normal normal 9px/1 FontAwesome;
        height: $size;
        left: 0;
        top: 0;
        padding: round($size / 10);
        position: absolute;
        width: $size;
      }

      &::after {
        $size: 10px;

        background-color: $mist;
        color: white;
        content: ' ';
        border-radius: 3px;
        height: $size;
        left: 3px;
        top: 3px;
        padding: round($size / 10);
        position: absolute;
        width: $size;
      }
    }

    &:checked + span::after {
      background-color: #92cf48;
    }
  }
}
