//--------------------------------------------------------------------------
// #TYPOGRAPHY
//--------------------------------------------------------------------------
// #BASIC-TEXT
//--------------------------------------------------------------------------

@mixin font--primary($size: 16px, $weight: 600, $line: 1.2) {
  font-family: $primary--font-family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  font-stretch: normal;
}

@mixin font--secondary($size: 16px, $weight: 400, $line: 1.2) {
  font-family: $secondary--font-family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  font-stretch: normal;
}

.font--primary {
  @include font--primary();
}
.font--secondary {
  @include font--secondary();
}

a,
p, .p,
ul, .ul,
ol, .ol,
small {
  @include font--secondary();
}

p, .p {
  color: $black;
  margin-bottom: 0;
}

label {
  display: inline-block;
}

//--------------------------------------------------------------------------
// #HEADINGS-TEXT
//--------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6  {
  @include font--primary();
  color: $black;
  cursor: default;
  margin: 0 0 23px;

  &:first-letter {
    text-transform: uppercase;
  }
}

h1 {
  margin: 0 0 $space;
  font-size: 35px;
}

//--------------------------------------------------------------------------
// #RESET-LIST
//--------------------------------------------------------------------------

ul.list-reset,
ol.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


//--------------------------------------------------------------------------
// #COLORS FOR TEXTS
//--------------------------------------------------------------------------

.grayed   {   color: rgba($gray, .62);       }
