//--------------------------------------------------------------------------
// #MEASURES
//--------------------------------------------------------------------------

$space :                        30px;
$space-and-half:                $space*1.5;
$space-double:                  $space*2;
$space-half:                    $space/2;
$space-quarter:                 $space/4;

$pad:                           30px;
$pad-and-half:                  $pad*1.5;
$pad-double:                    $pad*2;
$pad-half:                      $pad/2;
$pad-quarter:                   $pad/4;


//--------------------------------------------------------------------------
// #DEFAULTS
//--------------------------------------------------------------------------

$indent:                        -9999rem;

//--------------------------------------------------------------------------
// #MEDIA-QUERIES
//--------------------------------------------------------------------------

$short:                         20.00rem;
$tall:                          30.01rem;
$grande:                        47.50rem;
$venti:                         60.00rem;
$trenta:                        71.25rem;
$american:                      87.50rem;
$depth-charge:                  100.0rem;


//--------------------------------------------------------------------------
// #FONT
//--------------------------------------------------------------------------

$global--font-size:                   16px;
$primary--font-family:                "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$secondary--font-family:              "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;;
