//----------------------------------------------------------------------------
// #BOX
//----------------------------------------------------------------------------

%basic--box-layout {
  background: white;
  border-radius: 2px;
  margin: $space;
  outline: none;
}

.box-layout {
  @extend %basic--box-layout;

  .content {
    padding: 0 $pad $pad;
  }

  header {
    padding: $pad $pad 0;
  }
}
